
@{
    ViewBag.Title = "Index";
}

<h2>Dados da Pessoa 1</h2>

<p>ID: @ViewData["idPessoa"]</p>
<p>Nome: @ViewData["nome"]</p>
<p>Idade: @ViewData["idade"]</p>

<hr/>

<h2>Dados da Pessoa 2</h2>

<p>ID: @ViewBag._Id</p>
<p>Nome: @ViewBag._Nome</p>
<p>Idade: @ViewBag._Idade</p>